[2017-10-15 20:08] dinesh-matta-mpf opened #1 "Can you add README file for this project?"
Hi @rherwig,

I really liked your implementation of react-16's  server-side rendering. I like to understand this example better, so would need some assistance in understanding the code. As I am also planning to create react app with will have ssr feature, which will have backend express app which will call some third party api and render the response to react components.

Thanks!!

[2017-10-18 18:14] rherwig commented on #1
Sure, I'm working on that.

Any particular information you wish for?

[2017-11-01 16:30] zolero commented on #1
Are you going to make a build environment too?

[2017-11-21 10:31] rherwig commented on #1
I will. On it atm.

[2017-11-21 17:57] rherwig commented on #1
I added build scripts and a basic readme. For further documentation please refer to the documentation inside the code or create an issue with your specific question. :-)

[2017-11-21 17:57] #1 closed

[2018-01-17 12:11] KingScooty opened #2 "How does this work with express routing?"
This is a really nice example. I'm a little confused where express routing would live though. Webpack seems to be doing quite a lot of stuff in the middle—between `/src/index.js` and `/src/server/index.js`. I can't seem to figure out how to access the Express `app` variable that's defined in `src/index.js` in any other files.

What would be the best practices to adding express level routing to thi

[2018-01-18 00:19] rherwig commented on #2
This depends on what you want to achieve. If you are talking API, you can implement your routes like normal (using app.get / app.post / ...). You could add a `configureRoutes()` method in `src/index.js` and call it before the environment is configured.

If you want to achieve 'regular' routing, meaning displaying different pages, express would not the place to add them. React SSR apps use libs lik

[2018-01-19 08:07] sitambas opened #3 "How can we create router config"
I want multiple url and component wise create chunk it is possible to do that

[2018-01-19 19:07] rherwig commented on #3
The goto would be to use react-router. It enables you to do client-side/server-side routing as well as chunking routes.

https://github.com/ReactTraining/react-router

I'm currently working on an example that will be available on a separate branch of this repository once it's done

[2018-01-29 23:17] crabbits commented on #3
@rherwig I have an example working with react-router that I'm happy to open a PR for, I can't seem to push to the repo though.

[2018-02-01 00:57] rherwig commented on #3
PRs are greatly appreciated, as I only have little time to work on the template myself.
You first need to fork the repository and create a custom feature branch. Then you can submit a PR. :-)

[2018-02-01 22:09] crabbits commented on #3
Perfect, I'm heading back to Melbourne tonight so I'll get a PR out over the next day.

[2018-02-02 08:08] crabbits commented on #3
https://github.com/rherwig/template-react-16-ssr/pull/4

I'm about to get on a flight so I'll do the redux one tomorrow

[2018-02-02 17:46] rherwig commented on #3
After a bit of chaos, I got the PR accepted. Extended the README on master to reference your contribution and create feature/react-router. Thanks again :-)

[2018-02-02 17:46] #3 closed

[2018-02-02 17:50] rherwig opened #7 "Repository structure"
Hey guys!

I'm currently thinking about the repository structure. At the moment, the `master` features only the most basic boilerplate, to avoid libs and clutter that are not needed for some people.

The different extensions like routing, streaming and so on reside in dedicated `feature` branches.

I am not sure, if I like this approach.

On the one hand, I want to provide a very basic template th

[2018-02-03 06:04] crabbits commented on #7
@rherwig I like the approach of having the full stack in the master branch with feature branches for specific branches.

[2018-02-03 06:07] crabbits commented on #3
@rherwig No problems thank you for such a  great template. If there's anything I could have done to make your job easier let me know, I haven't contributed to open source for a while so I'm a bit rusty.

[2018-02-03 06:13] crabbits commented on #2
@rherwig maybe I could create another feature branch showing how to do API calls from express? I have an app calling the mailchimp API I can work off to provide an example.

Also @KingScooty theres a new branch that shows how to do routing using react-router that might help you, check the Readme for details.

[2018-02-03 06:28] crabbits commented on #7
After some re-thinking I like the idea of master being basic, maybe a new repo with the real world stack ready and keep specific examples in this repo? By the way I've used this template to write a production ready app so I'm happy to help with providing a real world example.

[2018-02-05 17:54] rherwig commented on #2
@crabbits: I just provided an example for express routing in the feature/express-routing branch.
Provide some feedback if you like.

https://github.com/rherwig/template-react-16-ssr/tree/feature/express-routing

[2018-02-05 17:55] rherwig commented on #7
@crabbits SGTM. I'm creating a separate issue to collect, which feature users want to have in the real world example.

[2018-02-05 17:58] rherwig opened #8 "Real-World example: What do you need?"
Hey everyone,

since we plan on creating a real-world example for a PWA using this React 16, it would be great to know, what features you desire in a real-world example. Please suggest features here.

The first ones I can think of are:

- All features of the regular master (SSR, webpack, ESNext)
- API and react-router along with some mock requests
- PWA features like app manifest and service worke

[2018-02-05 18:00] rherwig commented on #3
I initially created this template to provide a boilerplate to my colleagues. :-)
But since people seem to like it, let's expand on that.

If there are any ideas or possible refactorings, please don't hesitate to open an issue or PR.
And thanks a lot for your contributions so far!

[2018-02-08 18:43] jorgeitenjr opened #9 "Build problem on feature/express-routing branch"
I'm trying to run the builded version of the branch with: node public/index.js
and getting:
`Error: Cannot find module './server/api'`
Not sure why webpack isnt the api.

[2018-02-08 19:37] rherwig commented on #9
Snap! You're right. The node server code is not bundled by webpack. Gotta fix that. Thanks for reporting.

[2018-02-09 16:39] rherwig commented on #9
Fixed this by implementing a webpack build for `src/index` as well (#10).

[2018-02-09 16:39] #9 closed

[2018-02-09 16:40] rherwig commented on #2
For those that encountered a module resolution bug when using the prod build, see #9. The bug has been resolved.

[2018-02-09 16:40] #2 closed

[2018-02-09 17:55] jorgeitenjr commented on #9
Nice. You did a good job in this repo, btw. Thanks.

[2018-02-09 18:02] rherwig commented on #9
Thanks! :-) If there are any requests, optimizations or the like, please open an issue, as it helps to improve the quality and usefulness even further

[2018-02-19 05:58] dagda1 opened #11 "configureProduction errors trying to require files that do not exist"
In `src/index` you have this code:

[code]

If I am running in development or these files do not exist then I get `Can't resolve xxxx` errors.

Am I missing something or how can this work?

Thanks for this project, I've found it very useful.

[2018-02-21 05:55] dagda1 commented on #11
it is the node externals that I had missed

[2018-02-21 05:55] #11 closed

[2018-02-22 10:33] crabbits commented on #8
These all sound good. One of the top of my head would be adding somethhing like [react-helmet](https://github.com/nfl/react-helmet) for <head> tags, page titles etc, useful for seo if you're using the stack for a landing page.

[2018-02-22 10:35] crabbits commented on #8
Also maybe some tests, I usually use a mix of mocha, chai and enzyme.

[2018-02-22 20:47] rherwig commented on #8
Never saw helmet before. I'm gonna take a look.

As far as testing goes, I used jest and enzyme for most of my react apps. But anyways, testing examples sound great.

[2018-04-22 16:23] rherwig opened #12 "Implement react-helmet to improve meta information handling"
In order to handle document meta and SEO information, react-helmet should be implemented.

[2018-04-24 10:05] rherwig opened #13 "PSA: Scaffolding universal react apps based on this template"
Hey there,

since I updated this template quite a lot, I more and more think that the feature branch approach, as it is practiced right now, makes the template more and more difficult to maintain and keep every branch up to date.

I came up with a solution and would be grateful to receive some feedback.

The idea is to build a project scaffolding CLI that generates universal react apps based on th

[2018-04-24 23:37] arkhamRejek opened #14 "code splitting ?"
Hey thank you for this awesome template but is there any reason you aren't implementing the code splitting with react-universal-component or am i missing something. The code snipet below throws an error saying
[FLUSH CHUNKS]: Unable to find default in Webpack chunks. Please check usage of Babel plugin.

[code]

[2018-04-25 18:06] rherwig commented on #14
Hey,
I just set up a simple test case and was not able to reproduce the error.
Which feature branch are you using?

[2018-04-26 18:48] arkhamRejek commented on #14
That's the same effect I got, I might ask I'll bother Facey on Reactlandia chat to see what he thinks. I'll update if i get anything back.

[2018-04-27 15:32] rherwig commented on #14
@arkhamRejek Thanks so much! I'll also look into the issue this weekend.

[2018-04-28 19:45] arkhamRejek commented on #14
@rherwig haven't had much luck digging into it so far, Facey has been busy with other projects so he hasn't been able to reply much. A friend of mine said that https://github.com/jamiebuilds/react-loadable is working on webpack 4 for him with no issues.

[2018-04-28 20:42] rherwig commented on #14
@arkhamRejek I also stumbled over this, while looking for a solution to fix universal component. I'll try it out.

[2018-04-30 13:41] rherwig commented on #14
As of now, there is still an open PR on react-loadable to implement the webpack 4 API. I guess I will wait and try to work something out with universal component

[2018-04-30 15:03] #12 closed

[2018-05-13 21:54] arkhamRejek commented on #14
pull open
https://github.com/rherwig/template-react-16-ssr/pull/15

[2018-05-14 08:01] rherwig commented on #14
Thanks @arkhamRejek! I'm gonna test and review it later today

[2018-05-17 19:08] #14 closed

[2018-05-22 21:47] dagda1 opened #16 "where does universal get its path from"
In your UniversalComponent, your component looks like this:

[code]

How is the path `./${name}/` resolving?  Is the `cwd()` not the root of the site?

I am confused as to how this is working.

[2018-05-22 21:50] #16 closed

[2018-05-24 12:10] rherwig commented on #16
Despite the fact, that this is closed, for future reference:

Universal Component's root is the `shared/components` directory. This is signified by the `./` which resolves to the path of the file.

[2018-05-28 06:03] zackljackson opened #17 "Webpack 4 and our chunking system"
Might help you bro!

https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/issues/60

[2018-05-28 08:20] rherwig commented on #17
@zackljackson Thanks a lot! I'll have a look. Would be nice to have working CSS chunks once again :-)

[2018-05-28 09:01] zackljackson commented on #17
It’s already done ✅ just updating readmes and cleaning a bunch of stuff up. Beta testing and feedback would be valuable ❤️🙏 PRs are also welcome if you spot something off the bat

Main thing is I want awesome chunking back 😂 its a massive re-rewrite so beta testing is important.

There’s almost half a million installs 😆 safety first

[2018-05-28 14:44] rherwig commented on #17
I'm taking a look at it right this evening and will of course submit feedback

[2018-05-28 15:48] zackkirsh commented on #17
Awesome, ill be pushing commits throughout the day, just drop a line if you have a question

[2018-05-28 18:41] rherwig commented on #17
I tried to implement the version from your current webpack-4 branch and ran into a build-time issue.

I basically set it up like your documentation says, which mainly involves the webpack config:
https://github.com/rherwig/template-react-16-ssr/blob/development/webpack/client.js

Everything but HMR works with mini-extract-css-chunks. If you want to take a look at the issue, please refer to the dev

[2018-05-28 19:02] zackljackson commented on #17
Found it. Gimme a few

[2018-05-28 19:33] zackljackson commented on #17
Okay done, should work for you now. Thanks for beta testing! Ill need to write tests for this

[2018-05-28 19:40] rherwig commented on #17
Yay! It works now! :-) Thanks for the effort so far, I'm gonna go on and test it a little more now

[2018-05-28 19:47] zackljackson commented on #17
Fantastic!! More than welcome.

If you have some spare time. Id greatly appreciate it if you can add / extend a test to prevent this happening.

Let me know if you spot anything else

[2018-05-28 22:52] rherwig opened #18 "Should we use eslint?"
Hey everyone,

I've been thinking about implementing eslint for this project, but am not exactly sure, if this is a good idea... code-style is to a certain degree a matter of commitment in a team after all. So I don't know, if it would be wise to provide an opinion on code style via eslint.

What do you think? Eslint - yes/no? Via webpack-loader or just the config and an npm lint task for those wh

[2018-05-28 23:09] rherwig opened #19 "Implement gzip compression for server side"
Since gzip enables huge performance benefits for serving assets, we should implement it as an express middleware when building for production.

[2018-05-29 06:43] zackljackson commented on #18
Yes! You want it!

Linking can standardize how code is written. For example, I can have a lint rule enforcing specific export practices, which go hand in hand with code splitting and optimization

Linting let’s you define an environment so people don’t end up using browser code in node. Things like that.

Plus it’s free indentations , cleaning and standardized look.

Not much hassle and doesn’t ta

[2018-05-29 06:45] zackljackson commented on #19
https://github.com/aickin/shrink-ray

[2018-05-29 10:21] rherwig commented on #18
Right, I also see that linting is requried, but I still wonder to what extent. If implemented via webpack eslint loader, linting would be enforced for all users unless they disable it explicitly. I don't think, this is a bad thing, but the question is: what config? I personally tend to use AirBnBs eslint config a lot or at least some slight variant of that.

[2018-05-31 00:29] #19 closed

[2018-05-31 00:35] rherwig opened #20 "Implement testing foundation"
Since testing is obviously a thing in development ;-) the idea to implement a foundation for writing tests into the template (containing tests for the existing boilerplate components).

This probably is achieved with jest and enzyme.

[2018-06-05 05:29] zackljackson commented on #17
Aaaaaaand it’s releaeed! V3.x.x is on npm 🎉🎉

[2018-06-05 05:29] #17 closed

[2018-06-06 20:45] MartinGian opened #21 "Debug server side"
Hi!

Cool project. I have a question, what config do you have, if you use vscode, to debug the server side?

Thanks!

[2018-06-07 06:20] dagda1 opened #22 "curious to know why the webpack optimization has not been used"
This project has been a great help to me to get up to speed with react ssr so many thanks for that.

I've recently upgraded to webpack 4 and the latest `extract-css-chunks-webpack-plugin`.

In the README for `extract-css-chunks-webpack-plugin`, it states that you should the `optimization ` config.

I'm curious to know if there is a reason why you are not using this?

Is not needed in this case?

[2018-06-07 16:01] rherwig commented on #22
Thanks for the kind words :-)

As far as the optimization goes, I am just starting to implement css chunks again, after CommonsChunkPlugin has been removed and I am still looking into the webpack 4 chunking options.

I am going to implement the css chunks in the upcoming days and am gonna take a look at the docs again. Thanks for providing a hint!

[2018-06-07 16:03] rherwig commented on #21
I do not use VSCode myself, actually, so I cannot provide a quick answer. I will, however, have a look at debugging the server side in general and expand the docs in that regard.

In the meantime, maybe there is someone with debugging experience in react ssr

[2018-06-25 08:14] dagda1 opened #23 "getting fav.ico and socket.io updates to the react-hot-server-middleware"
I have been logging the calls received in the `server-hot-middleware` function here

I am getting fav.ico and socket.io requrests coming in here as well:

My function looks like this:

[code]

Is this normal?  Should these not be filtered out?

[2018-06-28 17:39] rherwig commented on #23
In development mode, this is normal, since HMR has to be active for SSR as well. You are talking about development mode, right?

[2018-06-28 17:48] dagda1 commented on #23
absolutely, no hmr in production

[2018-07-03 19:46] manish4781 opened #24 "EJS rendering for SEO"
Hi,
i am trying to render my component on server, a component which fetches the data from another 3rd party API on **componentDidMount**, my component is rendering fine but when is pass the string returned from **ReactDOM.renderToString** to my **.ejs** file which is missing the data returned from 3rd party API

[code]
my <App> component is rendering fine, but when is see the view-source of a page

[2018-07-05 10:48] rherwig commented on #24
The issue with that is, that the app is rendered on the server-side correctly, but no data can be fetched during toString rendering. This is a limitation of SSR.

To overcome this, you want to fetch the data on the server side, before rendering your application with renderToString. The fetched data can then be rendered to the template and reused in the client side application. This concept is call

[2018-07-05 17:13] manish4781 commented on #24
HI @rherwig,
thanks for the reply, i was wondering if there is a way to achieve this without using redux?
any help would be appreciated.

[2018-07-06 07:45] manish4781 commented on #24
Hi @rherwig ,
can you give some example of how do i pass data from server to client as props, if i fetch data on server itself and try to reuse it on client.

[2018-07-06 09:28] sharmam1 opened #25 "passing props from server to client."
How do i pass my api data from server to client as props and,
is it advisable to pass API fetch data from server to client and re-use it to render component.
Note: not using redux

[2018-07-09 21:45] dagda1 commented on #23
If I don't filter out the these requests, I get errors like:

    at Object.parse (<anonymous>)
    at XMLHttpRequest.request.onreadystatechange (bootstrap:102)

and

Are you saying that this is ok?

[2018-07-09 21:57] rherwig commented on #23
I actually did not experience these errors myself. Do you have a repository with demo code or does this even happen with a clean checkout of the template?

And o.f.c this does not seem to be ok

[2018-07-09 22:02] rherwig commented on #25
Yes, it is strongly advised to use prefetched data from the server to "re-use" or "hydrate" the client side application.

Even if you do not use redux, the general concepts from the `feature/redux` branch still apply.

You want to fetch the critical data to run your app on the server and attach them to the `window` object. On the client side, you can use this data to populate a component's interna

[2018-07-09 22:04] rherwig commented on #24
Please refer to #25, since this is a duplicate with a short example. Comment on the issue, if there are question or you need a full example, as I might look into providing one.

[2018-07-09 22:04] #24 closed

[2018-07-10 18:30] manish4781 commented on #25
Hey @rherwig thanks, this worked for me, although i have 2 question here.
1) is it safe to put all data on window object, in some cases this may be really large chunks of data.
2) is there a way i can hide the data on window object,
what is the use of this **delete window.__TIMER_STATE__;**

[2018-07-12 09:17] rherwig commented on #25
Glad it worked!

1. This is considered best practice for hydrating apps with server side data. But you are not wrong: the more data, the longer the page takes to parse. This is why you should only provide the minimum required data for the requested page to work via window.
You could even populate the window object with different data, depending on the page the user requests.

2. This is done, to a

[2018-07-12 13:31] manish4781 commented on #25
looks good, thanks.

[2018-07-12 17:43] #25 closed

[2018-07-16 19:57] manish4781 opened #26 "svg jpg file load"
Hi @rherwig i have few question, i am new to webpack
1) I am trying to import svg, jpg file but i get the error
**Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.**
If you have any example to add loaded for these files

2) what is the use of this https://github.com/rherwig/template-react-16-ssr/blob/feature/react-router/webpack/client.js#L39

[2018-07-17 09:47] rherwig commented on #26
Hey there!

1. There is a [file-loader](https://github.com/webpack-contrib/file-loader) for webpack that is well documented. You want to add this to the webpack config. I will, however, expand this template to load an image (i.e. favicon) this evening, so if you are not able to implement file-loader yourself, stay tuned.

2. This is not actually the bootstrap framework, but rather a bootstrap scri

[2018-07-17 11:08] sharmam1 commented on #26
You are always a great help, thanks @rherwig , i'll use latest master,

although i am getting an error when i am running **npm run build**
**> react-ssr-template@2.4.0 build:node /Users/Documents/master/template-react-16-ssr

/Users/Documents/master/template-react-16-ssr/scripts/extended-node-externals.js:8
    ...nodeExternals,
    ^^^
SyntaxError: Unexpected token ...**

 Also i have few doubts.

[2018-07-17 16:37] rherwig commented on #26
1. `node-externals` is used to tell webpack that the node_modules are installed separately. This is used for building pure node js apps, like express servers. This is done, so the node_modules are not part of the final bundle. The `extended-node-externals` are a custom file that I created. Those are used to tell webpack to not include assets like the server-bundle. This bundle is dynamically requi

[2018-07-17 18:19] sharmam1 commented on #26
This worked, thanks @rherwig, when i upgraded to node v8+.

i had one doubt about code splitting i have some component in shared directory which has Localstorage logic, as i am converting everything to SSR and component rendering on server, but it shows the error **Window not defined** as window not initialized at that point of time, is there a way to handle this situation. or to ask a general que

[2018-07-17 18:35] rherwig commented on #26
The problem is that `window` is a browser API and thus not available on the server. The solution is, to write code that does not rely on the `window` object and use isomorphic libraries that do so as well.

If `window` just can not be avoided, the following would be possible:
[code]

[2018-07-18 07:01] sharmam1 commented on #26
Hey @rherwig, is there a better way to handle the rendering situation if i use cookie in place of Localstorage in current template, any example if i can use cookie value at server side and then use it.

[2018-07-19 11:05] sharmam1 opened #27 "Server side rendering with Browser API code"
Just want to open a discussion on how we can achieve a Server side rendering of an App with having some window API like localstorage or Cookies

I am rendering App component at server and rendering few other component from App component some of my child component contains **Cookies** and **Localstorage** API to store the data, but when i run the App it show window not defined on Server side as win

[2018-07-20 05:33] manish4781 commented on #26
@rherwig just checking if the template is supporting file system(jpg, svg) as an import function?
also will it be possible to include to load fonts file as well.

[2018-07-27 17:32] rherwig commented on #26
File system "imports" are only possible on the NodeJS side via `fs.readFile()`. Did you mean that? Like importing `C:\profile.jpg`. ?

[2018-07-29 17:16] manish4781 commented on #26
i meant to load a favicon images.

[2018-07-29 17:40] #23 closed

[2018-07-29 17:47] rherwig commented on #26
You can, although with ejs it is not that nice.

You can pass parameters to the EJS template, like it is aleady done:
https://github.com/rherwig/template-react-16-ssr/blob/18d6dd416e514743c3f6ee6285c5a03adf481682/src/server/index.js#L27

There you could do:
[code]

I am rethinking the whole EJS thing a.t.m anyways, since using a JS file to render the document seems more practical

[2018-07-30 18:09] #26 closed

[2018-07-30 18:43] manish4781 opened #28 "utils.js:50 chunk not available for synchronous require yet:"
getting the following error **utils.js:50 chunk not available for synchronous require yet:** for my multiple modules, could you please describe what could be the issue and how can i control my chunks size

Sample error

[code]

[2018-07-31 06:34] ScriptedAlchemy commented on #28
@manish4781 agreed, even a stripped down Repo, or you can sen it privately to me along with an NDA that ill sign.

Here to help, not steal

[2018-07-31 08:55] manish4781 commented on #28
@ScriptedAlchemy @rherwig as it turned out, i had some webpack config missing to load some font files, which was causing this issue. thanks for the help @ScriptedAlchemy @rherwig

[2018-07-31 08:55] #28 closed

[2018-08-08 18:19] manish4781 opened #29 "add styles to template"
just wanted to know how can i add .css(styl) file directly to .ejs,
i tried adding it to ejs by keeping my file is public directory but say file not found, so what is the best way to add some style globally?

[2018-08-17 05:33] crabbits commented on #29
Hi @manish4781, can you post an example of how you are trying to add the css to the .ejs file? Also is the css file coming from a node module you have installed? Or a css file you've imported?

[2018-08-18 18:38] manish4781 commented on #29
Hi @crabbits, i have a custom css(.styl) file which i want to include globally in my .ejs file as stylesheet,
currently i am able to import any .styl file in my component but once imported styles looks like
**.header.AhHeader__ah-header--3xvST {
  max-width: 1080px;
}**
so my question is where do i keep my css and how do i import as stylesheet in .ejs file

[2018-09-28 21:49] rherwig commented on #18
ESLint has been implemented in the current release https://github.com/rherwig/template-react-16-ssr/tree/3.0.0

[2018-09-28 21:49] #18 closed

[2018-09-28 21:49] rherwig commented on #20
A testing foundation using jest and react-test-renderer has been implemented in 3.0.0.

https://github.com/rherwig/template-react-16-ssr/tree/3.0.0

[2018-09-28 21:49] #20 closed

[2018-10-30 20:05] rherwig commented on #29
@manish4781 The question arose some time ago, but I would generally discourage the use of stylesheets in the ejs file. Import the styles in your components, since you can benefit from the dynamic class names and bundling that way.

Check out the latest release of the template, which happens to abolish ejs files in favor of html in js.

[2018-10-30 20:05] #29 closed

[2018-11-10 09:36] dwjohnston opened #30 "This is a pretty fantastic template - is there any documentation about this style?"
Is this a pretty well established way of doing a react/SSR template? What's the other documentation or other projects using a similar structure? What are the keywords to google here?

[2018-11-10 09:39] dwjohnston commented on #30
I see that the [changelog](https://github.com/rherwig/template-react-ssr#changelog)  contains a lot of the details.

[2018-11-10 09:40] #30 closed

[2018-11-10 23:56] dwjohnston opened #31 "Server side only routes/components?"
I'm just getting started with this template - and am checking out the react-router feature branch.

What I'm wondering with it - say I have some pages that are static, and are intended for indexing - 'About Us', 'Blog' etc.

If I set that all up in the shared folder like you have done - and I navigate directly to the page then it renders on the serverside.

However, I am at home first, and then I

[2018-11-11 01:25] dwjohnston opened #32 "Am I right in understanding that the feature branches are now behind the master branch?"
I'm basically trying to get this to work with Redux and React-Router.

Am I right in that there have been changes (mostly -  switching to Helmet) - that have made Master 3.0.0 incompatible  (or at least  requiring updating/merging resolution) with the feature branches?

In anycase - here's my attempt to catch feature/redux up with master:

https://github.com/dwjohnston/template-react-ssr/tree/feat

[2018-11-11 04:02] rherwig commented on #32
You're right - the feature branches are behind. This is actually my current todo. Expect the branches to be up to date again within the next week.

As for now, use them as a conceptual guideline on how to implement the different components.

Your branch looks pretty good so far and I would be happy to review an upcoming pull request in more detail, if you choose to submit one. :-)

[2018-11-11 04:03] dwjohnston commented on #32
I'm no git pro - what is the correct way to resolve this? Cherry pick? Rebase?

[2018-11-11 04:04] dwjohnston commented on #32
The thing I'm concerned about - (and what I've been running into) is a situation where the heads get mixed up or whatever and the branches no longer merge into each other without conflicts.

[2018-11-11 04:08] rherwig commented on #31
This is a valid concern, since optimized apps only load and serve content, the user actually requests.
However, code splitting is exactly what is needed in that case.

I would general suggest, to chunk (code split) everything that is not needed for a specific route.
Either by using `import()` or react-universal-component.
When shipping a real-world project, however, you might want to go the extra

[2018-11-11 04:12] rherwig commented on #32
Usually, rebase would be the go to way. Since there have been some breaking changes in 3.0 (like getting rid of ejs) this might not be the easiest way.

My current approach is, to "re-implement" the features of the different feature branches, since I am reviewing them anyway in order to see, if more optimal implementations are possible given the improvements made in libs like redux, etc.

[2018-11-11 04:15] dwjohnston commented on #32
Mmm - I was thinking of doing that to. Just wondering if there's a nicer way to do it.

Currently if i do:

[code]

This merges with no issues, but it removes all of the react-router functionality. What I would like to do is have all of the commits between where the branches diverged, and then apply all the feature/react-router changes on top of that - and then manually fix the errors.

[2018-11-12 00:46] dwjohnston opened #36 "What do you think of this article?"
Apologies if this isn't muddying up your Github issues.

https://www.netlify.com/blog/2017/06/06/jamstack-vs-isomorphic-server-side-rendering/

I've been looking at using Netlify and am realising that this template is just not compatable with the JAMStack way of doing things.

Have you looked at JAMStack - have any thoughts?

[2018-11-12 19:22] #32 closed, assigned to nobody

[2018-11-12 19:27] rherwig opened #37 "Update feature branches with master"
`feature/` branches are out of sync with 3.0.0 release.

- [x] Streaming
- [x] Redux
- [x] React-Router
- [ ] Express Routing

Relates to #32

[2018-11-13 01:22] #21 closed

[2018-11-17 03:09] #31 closed

[2018-11-17 03:13] dwjohnston commented on #8
Not sure if this is way out of scope of what you're asking, but basically I'm wanting a fully featured out of the box PWA with:

- Authentication
- Protected routes
- Dynamic social media sharing tags
- Forms
- Blur in images

[2018-11-17 05:22] dwjohnston opened #38 "node-gyp/iltorb installation issue (with solution)"
If I do a fresh clone, I get this issue:

[code]

If you then then do
[code]

Then try on root `npm i && npm start`

[code]

Now do

[code]

then `npm i && npm start` on the root, and it should start.

[2018-11-17 16:46] rherwig commented on #38
Which OS are you using? You need python 2.7 and node-gyp installed, plus vc build tools, if you are on windows. This is due to the library `shrink-ray` being a native lib that requires compilation

[2018-11-18 03:23] dwjohnston commented on #38
Hmmm, I'm wondering if it's something to do with node version. WhenI swtiched from `10.13` to `9.11` it seeems to fix it.

[2018-11-19 02:45] dwjohnston commented on #38
Can you try using node v 10.13 and see if it reproduces on your machine? (I have the same issue when building docker images too).

[2018-11-20 15:22] rherwig commented on #38
Can reproduce with 10.13 inside a docker container. Did you try node 11 already?

[2018-11-22 23:11] dwjohnston commented on #38
I haven't tried 11.

For now - just insist on using 9.11?

[2018-11-24 05:17] rherwig commented on #38
I'd love some more user feedback on this topic. I thought about excluding shrink-ray from the template, since it is not really a core req of universal apps anyways, but I'm kinda hesitant to do so... what do you think?

[2018-11-24 06:36] rherwig commented on #8
I am actually working on a "real" PWA example right now.

Forms, progressive images and routing is definitely part of it!
However, auth and social sharing might be difficult to provide for a "ready to use" template project, since they either involve database access and/or personal API tokens.

[2018-11-24 06:38] rherwig commented on #38
Anyways, did you try possible gyp fixes from https://github.com/nodejs/node-gyp#option-1 ?

[2018-11-28 05:49] dwjohnston opened #39 "VSCode config for browser debugging?"
I see you've added a config file for VSCode debugging the server side - can we do this for browserside?

[2018-12-05 22:34] rherwig commented on #39
I am not that familiar with VSCode, but I think we could. This has a somewhat low priority though, cause Chrome devtools along with webpack sourcemaps do a pretty good job.

[2018-12-05 22:37] rherwig commented on #8
I'm not really sure... on the one hand, docker seems really nice. But there are lots of things to consider - like handling container restarts, clustering, ... Service like firebase and/or heroku work for me, but I tend to self-host my apps, using docker for development and ansible for deploying (but without the container).

[2018-12-06 05:19] dwjohnston commented on #39
I'll see if I can work it out and submit a PR for documentation.

[2018-12-15 04:01] dwjohnston opened #40 "Render client side only?"
I'm doing some stuff with websockets, and what I'm doing is that when a component mounts, it sets up all the websocket stuff.

I'm having an issue where the server side render of that component screws up the websocket logic. Is it possible to tell a component to render on the client side only?

[2018-12-15 05:42] dwjohnston commented on #40
Ok, this here seems to do the trick:

https://github.com/kadirahq/react-no-ssr

But any other suggestions?

[2018-12-29 10:06] dwjohnston opened #41 "Out of memory error in development."
I'm getting this error every hour or so in development:

[code]

It's not a huge problem as I can just start the dev server again. Still - are you encountering this?

[2019-01-07 23:17] rherwig commented on #41
I did not encounter this kinds of problems yet... I am at 16GiB RAM. What are your specs?

[2019-01-07 23:48] dwjohnston commented on #41
I'm at 16GB. I'm thinking that the issue is some kind of memory leak though - as it only occurs after an amount of time. I wonder if it is something to do with the way I'm using Material-UI.

[2019-01-19 08:20] subhendukundu opened #42 "npm run build not starting server"
Hey there,
I am not sure, if I am the only one facing this issue. Just cloned the repo, and tried ```npm run build```. It's building it but not starting the server.
Not getting any error either. Any help?
<img width="899" alt="screen shot 2019-01-19 at 11 55 05 am" src="https://user-images.githubusercontent.com/20059141/51424237-1d0d7400-1bf1-11e9-8204-c0294ef1dfbe.png">
Thanks in advance.

[2019-01-21 19:13] subhendukundu commented on #8
I am kinda stuck with how to deploy the app I have built on top this. :(
I am trying with firebase hosting.
Any suggestion?

[2019-01-21 23:09] dwjohnston commented on #8
I build this as a docker image - and deploy the docker image somewhere. He is an example application that does this: https://github.com/dwjohnston/tinymassive-demo/tree/master

[2019-01-22 02:05] dwjohnston opened #43 "How does this compare to nextjs?"
NextJs is an out of the box SSR solution - supports code splitting, export to static website etc.

How does this compare? Is there something that this is doing that nextjs doesn't?

I haven't used NextJS - and for the most part, I've found this to a be a pretty clean and tidy solution.

[2019-02-01 13:54] rherwig commented on #8
Using a docker container is generally a good approach. However, I would suggest to use pm2 instead of the pure node executable.

[2019-02-01 13:59] rherwig commented on #43
I used NextJS myself and found it to be really cool. This template started with the idea to provide a codebase that people can follow through in order to understand how universal rendering works and to keep it quite "vanilla" instead of using another framework stack.

For education and customization purposes I always find it useful to provide only the very barebone abstractions. But I see that opi

[2019-02-01 14:00] rherwig commented on #40
This is basically an abstraction of the usual approach. If the `window` object is available, you are on the client. But I like the way to wrap it inside a component.

[2019-02-01 14:00] #40 closed

[2019-02-23 14:49] subhendukundu opened #44 "Throwing error while deploying in firebase-functions"
I am trying to deploy my SSR app in firebase originally forked from this repo, after doing some modification in the app. Which works fine when I do sudo firebase serve --only functions,hosting but throwing error when I do firebase deploy. The reproducible repo is https://github.com/subhendukundu/template-react-ssr/tree/feature/react-router, which has a package.json https://github.com/subhendukundu

[2019-02-28 19:24] rherwig commented on #44
Hmm... I am definitely not an expert in terms of firebase. But this seems to be an error caused by dynamic importing a universal component. Does your code work, if you omit universal component?

[2019-02-28 19:25] #43 closed

[2019-03-03 14:05] subhendukundu commented on #44
Ahh, this one driving me crazy. 🙈😅 I have no clue how to go with this issue. I just moved all of my to static deployment (with a index.html, no dynamic importing), works perfectly.

[2019-04-12 17:20] rherwig commented on #41
Can also be an issue with shrink-ray lib, since it makes direct use of the underlying cpp apis. Check the newest release, where this has been removed :-)

[2019-04-12 17:20] #41 closed

[2019-04-12 17:20] #38 closed

[2019-04-12 18:13] manish4781 opened #45 "Static cache"
I am using this template and in top of this i have modified it to support static(browser) cache
for 30 days and based on that after every build i am generating new has([contenthash]) for my all js file

sample code format
[code]
i Needed some help to understand the generation and use of **app.client.js** and is there a way i can add [contenthash] to **app.client.js** file also and where exactly th

[2019-04-13 06:06] rherwig commented on #45
For short: you could just use contenthash in the filename as well. But things easily get complicated with webpack and react... and since I see, that you are quite a regular user of this project, please hit me up, if you need a 1on1 support session. I would be glad to assist you :-)

[2019-04-13 06:12] rherwig commented on #36
Sorry for the late response... but just to end this discussion: In my mind, this is most likely a marketing post. Not that they are entirely wrong, but as a professional working in the eCommerce branch, I doubt that their optinion on SEO is of any use.

I really hate typing long texts for no-one to read, so please let me know, if you desire any further elaboration and I will be glad to answer :-)

[2019-04-22 17:21] manish4781 commented on #45
Thnaks @rherwig, thanks for the support, For now adding [hash] to every file solved my problem.

[2019-04-22 17:21] #45 closed

[2019-04-29 23:16] Just-focus opened #46 "how to get the requested data"
how to request data

[2019-05-15 06:14] dwjohnston opened #47 "Typescript?"
This would be a pretty good candidate for typescript.

But then, it would also be less usable for people not using typescript.

Have you thought about including it?

[2019-05-16 22:49] rherwig commented on #47
Including typescript with the according babel preset is not that hard, so it should be fine as an "opt-in" kind of thing. I personally like typescript, but would base the decision on community feedback.

However, I can definitely see including a "migration" guide to TS in the docs.

[2019-05-16 22:50] rherwig commented on #46
I'd love to answer your question, but ask you to provide more detail. Requesting data is a really generalized statement. :-)

[2019-05-17 06:30] dwjohnston commented on #47
Well, what I was thinking was that you would/might need to then go on and define interfaces for all the things. But perhaps that isn't the case.

[2019-07-23 16:49] manish4781 opened #48 "separate fonts from style"
currently in my style file i am calling a custom font like
[code]
i am planning to separate style and font and load on the page separately.
currently doing like this:
[code]

i was wondering if there is a way i can get fonts also so i can load it separately
`const { js, styles, cssHash, fonts } = flushChunks(clientStats, { chunkNames });`

[2020-06-15 00:06] #48 closed

[2020-08-21 14:21] AftabFalak opened #54 "Production mode Error: You should not use <Switch> outside a <Router>"
Project runs find in development mode but in  but is  not is production. it showing
 **You should not use Switch outside a Router**
and when i use **BrowserRouter** in **App.js** it showing  error **Browser history need dom**
also i try **Router** from react-router dom  **<Router history={createBrowserHistory()}>** than show no error but rendring same page
kindly help me. thanks in advance

[2020-09-10 14:36] rherwig commented on #54
Sorry for the delay. I have been very busy lately! I'm gonna have a look at this issue

[2020-11-18 06:10] Markkos89 commented on #8
What about the Install button? :D

[2021-03-14 07:25] germanburgardt commented on #54
any news about that?

[2021-09-13 01:35] #46 closed